// Fuente Principal
$fuente_principal: "Kumbh Sans", sans-serif;

// Colores
$naranja: hsl(26, 100%, 55%);
$naranja_claro: hsl(25, 100%, 94%);

// Colores neutros
$azul_oscuro: hsl(220, 13%, 13%);
$azul_gris_oscuro: hsl(219, 9%, 45%);
$azul_gris: hsl(220, 14%, 75%);
$azul_gris_claro: hsl(223, 64%, 98%);
$blanco: hsl(0, 0%, 100%);
$negro: hsl(0, 0%, 0%);
